.hidden {
  display: none;
}

/* CATEGORY */
.category {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  padding: 12px;
}

.cat {
  background: #fff;
  border-radius: 8px;
  padding: 20px 10px;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}